/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
/public/build/*
/public/js/*
/public/css/*
/public/storage
/storage/*.key
/storage/phpunit_tests
/storage/restricted_media
/vendor
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log